#Encryption {
    display: flex;
    flex-direction: column;
    width: 100%;

    button {
        min-width: 54px;
        margin-left: 10px;
        font-size: 16px;
        cursor: pointer;
        padding: 4px 10px;
        background-color: #d1d1d1;
        border: 1px solid #aaaaaa;
        border-radius: 4px;
    }
    button:hover {
        background-color: #aaaaaa;
    }

    > div {
        display: flex;
    }
    > .encodeBox {

        > div {
            flex-direction: column;
            > .encoding {
                display: flex;
                padding: 10px;
                align-items: center;

                justify-content: space-between;
                > h4 {
                    font-size: 20px;
                    font-weight: bolder;
                    min-width: 60px;
                    margin-right: 10px;
                }
                > div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    max-width: 1000px;
                    min-width: 100px;
                    > div {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        padding: 2px;
                        > h5 {
                            min-width: 105px;
                            font-size: 16px;
                            white-space: nowrap;
                        }
                        > input {
                            margin-left: 10px;
                            padding: 4px;
                            font-size: 16px;
                            width: 100%;
                            max-width: 890px;
                            min-width: 100px;
                        }
                        > select {
                            width: 100%;
                            max-width: 890px;
                            min-width: 100px;
                            margin-left: 10px;
                            padding: 4px;
                            font-size: 16px;
                        }
                    }
                }
            }
            > p {
                display: flex;
                margin-top: 10px;
                font-size: 16px;
                font-weight: bolder;
                padding: 10px;
                white-space: nowrap;
                align-self: center;
            }
            > .oneWayTable {
                border: 1px solid #111;
                border-collapse: collapse;
                margin: 20px 0;
                > tr {
                    > td {
                        border: 1px solid #111;
                        font-size: 16px;
                        padding: 4px 10px;
                        text-align: start;
                        > ul {
                            li {
                                font-size: 16px;
                                margin: 6px 0;
                            }
                        }
                    }
                    > td:nth-child(1) {
                        font-size: 20px;
                        font-weight: bolder;
                        text-align: center;
                    }
                }
                > tr:nth-child(1) {
                    td {
                        font-size: 20px;
                        font-weight: bolder;
                        text-align: center;
                    }
                }
            }
            > .RSATable {
                border: 1px solid #111;
                border-collapse: collapse;
                margin: 20px 0;
                > tr {
                    > td {
                        font-size: 16px;
                        padding: 6px 10px;
                        text-align: start;
                        border: 1px solid #111;
                        > input {
                            width: 85%;
                            margin-left: 10px;
                            padding: 4px;
                            font-size: 16px;
                            margin: 10px 0;
                        }
                    }
                }
                > tr:nth-child(1) {
                    > td {
                        font-size: 20px;
                        font-weight: bolder;
                        text-align: center;
                    }
                }
            }
            > .RSATable2 {
                border: 1px solid #111;
                border-collapse: collapse;
                > tr {
                    > td {
                        font-size: 16px;
                        padding: 4px 6px;
                        text-align: start;
                        border: 1px solid #111;
                        text-align: center;
    
                        > .enBtn {
                            width: 45%;
                            margin: 0 5px;
                        }
                        > .userABtn {
                            background-color: rgb(255, 215, 215);
                            border: 1px solid rgb(223, 185, 185);
                        }
                        > .userBBtn {
                            background-color: rgb(193, 221, 235);
                            border: 1px solid rgb(164, 187, 199);
                        }
                        > .userABtn:hover {
                            background-color: rgb(241, 181, 181);
                        }
                        > .userBBtn:hover {
                            background-color: rgb(163, 206, 229);
                        }
                        > input {
                            width: 95%;
                            padding: 4px;
                            font-size: 16px;
                        }
                        > span {
                            margin-left: 10px;
                            font-size: 16px;
                        }
                    }
                }
                > tr:nth-child(2), tr:nth-child(3) {
                    td:nth-child(3) {
                        border-bottom: 1px solid #ffffff;
                    }
                }
                >  tr:nth-child(1) {
                    td {
                        font-size: 20px;
                        font-weight: bolder;
                        text-align: center;
                    }
                    td:nth-child(2) {
                        border-bottom: 1px solid #ffffff;
                    }
                }
                > tr:nth-child(4) {
                    td:nth-child(2) {
                        input {
                            width: 70%;
                        }
                    }
                }
            }
        }
    }
}
/* 1200px 이하 */
@media (max-width: 1200px) {
    #Encryption > .encodeBox {
        > div {
            > .RSATable {
                > tr {

                    > td {

                        > input {
                            width: 79%;
                        }
                    }
                }
            }
        }
    }
}
/* 800px 이하 */
@media (max-width: 800px) {
    #Encryption > .encodeBox {
        > div {
            > .oneWayTable {
                > tr {
                    > td:nth-child(1) {
                        font-size: 16px;
                        font-weight: bolder;
                        text-align: center;
                        width: 20px;
                    }
                    > td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5) {
                        max-width: 40px;
                        white-space: nowrap;
                        overflow-x: auto;
                    }
                }
                > tr:nth-child(1) {
                    td {
                        font-size: 16px;
                        font-weight: bolder;
                        text-align: center;
                    }
                }
            }
            > .RSATable {
                > tr {

                    > td {

                        > input {
                            width: 100%;
                        }
                    }
                }
            }
            > .RSATable2 {
                > tr {

                    > td {
                        > input {
                            width: 100% !important;
                        }
                        > .enBtn {
                            width: 100%;
                            margin: 5px 0;
                        }
                        > span {
                            margin: 0;
                        }
                    }
                }
                > tr:nth-child(4) {
                    td:nth-child(2) {
                        > button {
                            width: 100%;
                            margin: 10px 0 0 0;
                        }
                    }
                }
            }
        }
    }
}
/* 500px 이하일 때 */
@media (max-width: 500px) {
    #Encryption > .encodeBox {
        > div {
            > .encoding {
                flex-direction: column;
                > div {
                    margin: 10px 0;
                }
                > button {
                    width: 100%;
                    margin: 0;
                }
            }
            > .oneWayTable {
                > tr {
                    > td {
                        font-size: 14px;
                        padding: 4px 2px;
                    }
                    > td:nth-child(1) {
                        font-size: 14px;
                        font-weight: bolder;
                        text-align: center;
                        width: 20px;
                    }
                    > td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5) {
                        max-width: 40px;
                        white-space: nowrap;
                        overflow-x: auto;
                    }
                }
                > tr:nth-child(1) {
                    td {
                        font-size: 14px;
                        font-weight: bolder;
                        text-align: center;
                    }
                }
            }
            > .RSATable {
                > tr {

                    > td {

                        > button {
                            width: 100%;
                            margin: 10px 0 0 0;
                        }
                    }
                }
            }
            > .RSATable2 {
                > tr {

                    > td {

                        > button {
                            margin: 10px 0;
                            font-size: 14px;
                        }
                    }
                }
            }
        } 
    }
}