.colDiv{
    display: flex;
    flex-direction: column;
    align-items: center;

    .roomList {
        display: flex;
        gap: 10px;
        justify-content: center;
        > .room {
            display: flex;
            flex-direction: column;
            width: 256px;
            height: 140px;
            padding: 10px;
            margin: 10px;
            border: 2px solid #776B5D;
            border-radius: 10px;
            background-color: #EBE3D5;
            cursor: pointer;
    
            > h1 {
                font-size: 24px;
                font-weight: bolder;
                margin-bottom: 10px;
            }
            > h2 {
                font-size: 16px;
            }
        }
        > .refBox:hover {
            background-color: #B0A695;
        }
    }
    
}

#Tictactoe {
    width: 600px;
    height: 600px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .ctnRow {
        display: flex;
        justify-content: space-between;

        .btnTictactoe {
            width: 200px;
            height: 200px;
            background-color: transparent;
            border: 2px solid #000;
            font-size: 48px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s;

            &:hover {
                background-color: #f0e68c; // 버튼 위에 마우스를 올릴 때 배경색 변경
            }
            &.circle {
                &::before {
                    content: '';
                    width: 150px; // 원의 너비
                    height: 150px; // 원의 높이
                    border-radius: 50%;
                    border: 10px solid black; // 원의 테두리
                    position: absolute;
                }
            }

            &.cross {
                &::before, &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 230px;
                    background-color: black;
                }

                &::before {
                    transform: rotate(45deg);
                }

                &::after {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

