/*** 기본 설정 ***/
* {
    margin: 0;
    padding: 0;
    font: normal 14px 'Noto Sans KR', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #111;
}

input,
textarea {
    outline: none;
    box-sizing: border-box;
}

div {
    box-sizing: border-box;
}
body {
    background-image: url(../../public/images/main/background_pattern.png);
    background-repeat: repeat;
}

#mainLayout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 1200px;
    z-index: 2;

    div {
        display: flex;
    }

    > #logoBox {
        justify-content: center;
        align-items: center;
        padding-top: 40px;

        > img {
            width: 60px;
            height: 60px;
            padding: 10px 5px;
        }

        > a {
            display: flex;
            font-size: 40px;
            font-weight: bolder;
            padding: 10px 5px;
        }
    }

    > #navBox {
        justify-content: space-between;
        padding: 10px 10px 20px 10px;

        > #nav {
            > button {
                display: flex;
                font-size: 14px;
                font-weight: bolder;
                margin-left: 10px;
                box-sizing: border-box;
                background-color: transparent;
                border: 0;
                cursor: pointer;
            }
        }

        > #select {

        }
    }
}

#contents {
    display: flex;
    align-self: center;
    padding: 10px;
    width: 1200px;
    height: auto;

    >#mainPage {
        display: flex;
        flex-wrap: wrap;

        > .refBox {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 230px;
            height: 360px;
            margin: 32.5px;
            cursor: pointer;

            /* 조명 효과 추가 */
            &::before {
                content: '';
                position: absolute;
                top: -30%;
                left: 50%;
                width: 300px;
                height: 300px;
                background: radial-gradient(circle, rgba(255, 255, 255, 0.4), transparent 70%);
                transform: translateX(-50%);
                z-index: 10;
                pointer-events: none; /* 사용자와의 상호작용 차단 */
            }

            > .imgBox {
                display: flex;
                width: 230px;
                height: 230px;
                overflow: hidden;
                border: 10px solid #111;
                border-image: linear-gradient(45deg, #381c0a, #8d461a) 1;
                background-color: rgb(255, 255, 255);
                box-shadow: 
                inset -4px 4px 10px rgba(0, 0, 0, 0.3), /* 내부 그림자 */
                -3px 7px 5px rgba(0, 0, 0, 0.6); /* 외부 그림자 */
                padding: 20px;
                z-index: 2; /* 이미지와 유리 질감 사이에 위치 */
                >img {
                    width: 170px;
                    height: 170px;
                }
            }

            > .textBox {
                display: flex;
                flex-direction: column;
                height: 130px;

                >h1 {
                    font-size: 20px;
                    font-weight: bolder;
                    padding: 16px 0px 6px 0px;
                    color: #000;
                    text-align: center;
                }
                
                > .refInfo {
                    display: flex;
                    flex-direction: column;
                    border-top: 1px solid #000;
                    opacity: 0; /* 투명하게 시작 */
                    height: 0; /* 높이 0으로 시작 */
                    overflow: hidden; /* 높이가 0일 때 내부 콘텐츠가 보이지 않도록 숨김 */
                    transition: opacity 1s ease, height 1s ease; /* 투명도와 높이에 애니메이션 적용 */
                    
                    >h2 {
                        font-size: 16px;
                        padding: 6px 4px 4px 4px;
                        margin-bottom: 2px;
                        text-align: center;
                    }
                    > div {
                        display: flex;
                        justify-content: space-between;
                        >h3 {
                            font-size: 11px;
                            padding: 2px 6px;
                        }
                    } 
                    
                }
            }
        }
        >.refBox:hover .refInfo {
            opacity: 1; /* 호버 시 완전히 보이도록 */
            height: 100px; /* 호버 시 높이를 설정 (필요한 만큼의 값으로 조정 가능) */
        }
    }
}

.ts_box {
    flex-direction: column;
    padding: 20px;

    h1 {
        font-size: 24px;
        font-weight: bolder;
        margin: 10px 0;
        padding: 2px 6px;
    }
    h2 {
        font-size: 20px;
        margin: 6px 0px 6px 8px;
        padding: 2px 6px;
    }
    h3 {
        font-size: 18px;
        margin: 4px 0px 4px 16px;
        padding: 2px 6px;
    }
    h4 {
        font-size: 16px;
        margin: 2px 0px 2px 32px;
        padding: 2px 6px;
    }
    .bold {
        font-weight: bolder;
    }
    .red {
        color: red;
    }
    .blue {
        color: blue;
    }
    .green {
        color: green;
    }
    .brown {
        color: brown;
    }
    .yellow {
        color: yellow;
    }
    .orange {
        color: orange;
    }
    .gray {
        color: gray;
    }
    .white {
        color: white;
    }
    .italic {
        font-style: italic;
    }
    .bg_red {
        background-color: #ff6a6a;
        align-self: flex-start;
    }
    .bg_blue {
        background-color: rgb(164, 217, 255);
        align-self: flex-start;
    }
    .bg_green {
        background-color: rgb(139, 242, 139);
        align-self: flex-start;
    }
    .bg_yellow {
        background-color: rgb(255, 255, 158);
        align-self: flex-start;
    }
    .bg_brown {
        background-color: rgb(207, 108, 108);
        align-self: flex-start;
    }
    .line {
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .point::before {
        content: '■';
        padding-right: 4px;
    } 
}